# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/
/t2.tar.gz
/t2/
/src/br/ufscar/compiladores2/t3/antlr/
!/src/br/ufscar/compiladores2/t3/antlr/jaSON.g4
!/src/br/ufscar/compiladores2/t3/antlr/AnalisadorSemantico.java
/out/
